
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rent a Car-Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/owl.carousel.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/style.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/ionicons.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/animate.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/responsive.css">

    <!-- Js -->
    <script src="@Url.Content("~/Content/mytemplate/")js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/plugins.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/min/waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/jquery.counterup.js"></script>
    <!-- Google Map -->
    <script src="@Url.Content("~/Content/mytemplate/")https://maps.googleapis.com/maps/api/js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/google-map-init.js"></script>

    <script src="@Url.Content("~/Content/mytemplate/")js/main.js"></script>
    <style>
        body {
            font-family: "Open Sans Condensed", sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: black;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            border: 1px solid grey;
            text-align: left;
            padding: 8px;
        }
        .box {
            background-color: #e1dcd6;
            padding: 15px;
            overflow-x: auto;
            width: 335%;
            
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        #check-availability-wraper {
            margin: auto;
            width: 30%;
            float: left;
            border: 1px solid white;
            border-radius: 5px;
        }

        .check-availability-box {
            background-color: #eeddff;
            padding: 15px;
        }

   
        #display-car-wraper {
            width: 67%;
            display: inline-block;
        }

        .display-car-box {
            background-color: #eeddff;
            padding: 15px;
            overflow-x: auto;
        }

        .section-header {
            padding: 10px 10px;
            background-color: #1db954;
            color: white;
            font-weight: 500;
            margin-bottom: 15px;
            letter-spacing: 2px;
            font-size: 17px;
            
        }

        .sub-section-header {
            padding: 5px 10px;
            background-color: lightgrey;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 15px;
           width:335%;
        }

        .row-fluid {
            margin: 5px 0;
            width: 100PX;
        }

        .row-fluid label {
            margin-right: 5px;
            letter-spacing: 1px;
            width: 100px;
        }

        .row-fluid select {
            width: 50%;
        }

        .row-fluid input[type=date] {
            width: 50%;
            height: 23px;
        }

        .custom-button {
            padding: 5px 25px;
            margin: 4px 2px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            background-color: #1db954;
            color: white;
            border: 2px solid #1db954;
            border-radius: 5px;
            letter-spacing: 1px;
        }

        .custom-button:hover {
            background-color: lightgrey;
            color:black;
        }
    </style>
</head>
<body>
    <!-- Header Start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- header Nav Start -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                

                                    <img src="~/Content/mytemplate/img/logo.png" />
                               
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                   
                                    <li>@Html.ActionLink("Works", "Landing")</li>
                                    <li>@Html.ActionLink("Book a Car", "Book")</li>
                                    <li>@Html.ActionLink("Logout", "Login")</li>
                                    
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- header close -->
    <!-- Slider Start -->
    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>Add Details</h1>
                        <p>Don’t just take our word for it. Check out some of our latest work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact form start -->
    @*<section id="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="block">

                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="block">

                    </div>
                </div>
            </div>*@
            <form action="@Url.Action("Schedule", "Home" )" method="post">
                <section id="contact-form" class="container">
                    <div class="section-header">
                        BOOK A CAR
                    </div>
                    <div id="check-availability-wraper">
                        <div class="sub-section-header">
                            ADD CUSTOMER DETAILS
                        </div>
                        <div class="box">
                            <div class="row-fluid">
                                <label>CUSTOMER NAME</label>
                                <input type="text" name="name" id="Name" placeholder="enter your name" required><br>
                                <label>CUSTOMER NUMBER</label>
                                <input type="text" name="number" id="Number" onkeypress="NumberValidation()" placeholder="enter 10 digit valid number" required><br>
                                <label>CUSTOMER EMAIL</label>
                                <input type="text" name="email" id="Email" required placeholder="enter your email"><br>
                                <input type="submit" value="NEXT" class="custom-button" onclick="ValidateRegistrationForm()"></div>
                            </div>
                        </div>
                    </div>
                </section>
                </form>

      
  
    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>We design delightful digital experiences.</h2>
                        <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-manu">
                        
                    </div>
                    <p>Copyright &copy; Crafted by <a href="https://dcrazed.com/">SoftNice</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        function ValidateRegistrationForm() {
            var email = $('#Email').val();
            var MobileNumber = $('#Number').val();
            if (!isEmail(email)) {
                alert("Please enter valid email");
            }
            if (!CheckIndianNumber(MobileNumber)) {
                alert("Please enter a valid number");
            }
           
        }
        function isEmail(email) {
            var pattern = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            return pattern.test(email);
        }
        function CheckIndianNumber(MobileNumber) {
            var IndNum = new RegExp("(?:(?:\\+|0{0,2})91(\\s*[\\- ]\\s*)?|[0 ]?)?[789]\\d{9}|(\\d[ -]?){10}\\d", "g");
            return IndNum.test(MobileNumber);
        }
        function NumberValidation()
        {
           
            if((event.keyCode<48 || event.keyCode>57))
            {
                document.getElementById("Number").val() = '';
            }
        }

    </script>

</body>
</html>