<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rent a Car-Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/owl.carousel.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/style.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/ionicons.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/animate.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/responsive.css">

    <!-- Js -->
    <script src="@Url.Content("~/Content/mytemplate/")js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/plugins.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/min/waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/jquery.counterup.js"></script>
    <!-- Google Map -->
    <script src="@Url.Content("~/Content/mytemplate/")https://maps.googleapis.com/maps/api/js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/google-map-init.js"></script>

    <script src="@Url.Content("~/Content/mytemplate/")js/main.js"></script>
    <style>
      
         table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }

        th {
            text-align: left;
        }
        .display-car-box {
            background-color: #eeddff;
            padding: 15px;
        }
        .sub-section-header {
            padding: 5px 10px;
            background-color: lightgrey;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 15px;
        } 
         #display-car-wraper {
            width: 50%;
            margin-left: 50%;
        }
          .section-header {
            padding: 10px 10px;
            background-color: #3b5998;
            color: white;
            font-weight: 500;
            margin-bottom: 15px;
            letter-spacing:2px;
            font-size:17px;
        }
           body {
            font-family: "Open Sans Condensed", sans-serif;
        }
           #check-availability-wraper {
            margin: auto;
            width: 45%;
            float: left;
        }
            .sub-section-header {
            padding: 5px 10px;
            background-color: lightgrey;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 15px;
        } 
             .check-availability-box {
            background-color: #eeddff;
            padding:30px;
        }
              .row-fluid {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <!-- Header Start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- header Nav Start -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>



                                <img src="~/Content/mytemplate/img/logo.png" />

                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">

                                    <li>@Html.ActionLink("Filters", "Landing")</li>
                                    <li>@Html.ActionLink("Book a Car", "Book")</li>
                                    <li>@Html.ActionLink("Logout", "Login")</li>

                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- header close -->
   

    
        
            <div class="section-header">
                Filters
            </div>
    <div id="check-availability-wraper">
        <div class="check-availability-box">
            <div class="row-fluid">
                CAR TYPE
                <select>
                    <option>--Select--</option>
                    <option>Hatchback</option>
                    <option>Sedan</option>
                    <option>MPV</option>
                    <option>SUV</option>
                </select>
            </div><br />
            <div class="row-fluid">
                <input type="radio" name="gender" value="AC" checked> A/C&nbsp;&nbsp;
                <input type="radio" name="gender" value="NON"> NON A/C<br>
            </div><br />
            <div class="row-fluid">
                CAR FUEL
                <select>
                    <option>--Select--</option>
                    <option>Petrol</option>
                    <option>Diesel</option>
                    <option>Gas</option>
                </select>
            </div><br />
            <div class="row-fluid">
                DURATION
                <select>
                    <option>--Select--</option>
                    <option>Days</option>
                    <option>Weeks</option>
                </select>&nbsp;&nbsp;<input type="number" name="many" id="Many" placeholder="for how many days/weeks" />
            </div><br />
            <div class="row-fluid">
                FROM: <input type="date" name="from" id="From" required="">
                TO: <input type="date" name="to" id="To" required="">
            </div><br />
            <div class="row-fluid">
                PICKUP
                <select>
                    <option>--Select--</option>
                    <option>Within City</option>
                    <option>Out Of Station</option>
                </select>
            </div><br />
            <div align="left" class="div5"><input type="submit" value="Submit"></div>

        </div>
        </div>

        <div id="display-car-wraper">
            <div class="sub-section-header">
                Cars Available
            </div>
            <div class="display-car-box">
                <table style="width:100%">
                    <tr>
                        <th>S.No.</th>
                        <th>CAR NAME</th>
                        <th>CLASS</th>
                        <th>YEAR</th>
                        <th>BOOKING STATUS</th>
                        <th>START DATE</th>
                        <th>END DATE</th>
                        <th>PAYMENT STATUS</th>
                        <th>PICKUP</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div class="row-fluid">
                    <input type="button" class="btn btn-primary" value="Book Car" />
                </div>
            </div>

        </div>







        <!-- Call to action Start -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>We design delightful digital experiences.</h2>
                            <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer Start -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-manu">

                        </div>
                        <p>Copyright &copy; Crafted by <a href="https://dcrazed.com/">SoftNice</a>.</p>
                    </div>
                </div>
            </div>
        </footer>


</body>
</html>