
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rent a Car-Works</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/owl.carousel.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/style.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/ionicons.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/animate.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/responsive.css">

    <!-- Js -->
    <script src="@Url.Content("~/Content/mytemplate/")js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/min/waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/jquery.counterup.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/plugins.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/main.js"></script>
</head>
<body>


    <!-- Header Start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- header Nav Start -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                               

                                    <img src="~/Content/mytemplate/img/logo.png" />
                                
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    
                                    <li>@Html.ActionLink("Works", "Works")</li>
                                    <li>@Html.ActionLink("Book a Car", "Book")</li>
                                    <li style="color:red">@Html.ActionLink("Logout", "Login")</li>

                                    
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- header close -->
    <!-- Slider Start -->
    <section id="global-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>Just some of our latest projects.</h1>
                        <p>Don’t just take our word for it. Check out some of our latest work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Start -->
    <section id="portfolio-work">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="portfolio-menu">
                            <ul>
                                <li class="filter" data-filter="all">Tasks</li>
                                
                            </ul>
                        </div>
                        <div class="portfolio-contant">
                            <ul id="portfolio-contant-active">
                                <li class="mix Branding" style="display: inline-block;">
                                    <a href="#">
                                        <img src="~/Content/mytemplate/img/portfolio/work1.jpg" />
                                        <div class="overly">
                                            <div class="position-center">
                                                <h2>Add New Member</h2>
                                                <p>Labore et dolore magna aliqua. Ut enim ad </p>

                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mix Websites" style="display: inline-block;">
                                    <a href="#">
                                        <img src="~/Content/mytemplate/img/portfolio/work2.jpg" />
                                        <div class="overly">
                                            <div class="position-center">
                                                <h2>Scheduling</h2>
                                                <p>Labore et dolore magna aliqua. Ut enim ad </p>

                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mix Graphic" style="display: inline-block;">
                                    <a href="#">
                                        <img src="~/Content/mytemplate/img/portfolio/work3.jpg" />
                                        <div class="overly">
                                            <div class="position-center">
                                                <h2>All Cars</h2>
                                                <p>Types : Suv , Luxury , Sedan & Mini </p>

                                            </div>
                                        </div>

                                    </a>
                                </li>
                                <li class="mix design" style="display: inline-block;">
                                    <a href="#">
                                        <img src="~/Content/mytemplate/img/portfolio/work4.jpg" />
                                        <div class="overly">
                                            <div class="position-center">
                                                <h2>View Registered members</h2>
                                                <p>Labore et dolore magna aliqua. Ut enim ad </p>

                                            </div>
                                        </div>
                                    </a>
                                </li>
                               
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients Logo Section Start -->
    <h1 align="center">Our Clients</h1>
    <section id="clients-logo-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div id="clients-logo" class="owl-carousel" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper-outer" style="width: 5472px; left: 0px; display: block; transform: translate3d(-684px, 0px, 0px); transition: all 800ms ease;">
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo1.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo2.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo3.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo4.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo5.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo6.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo7.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo8.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo9.png" />
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 228px;">
                                        <div class="clients-logo-img">
                                            <img src="~/Content/mytemplate/img/clients/clients-logo10.png" />
                                        </div>
                                    </div>

                                </div>
                    </div>
                </div>
            </div>
        </div>
                </div></div>
    </section>

    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>We design delightful digital experiences.</h2>
                        <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-manu">
                      
                    </div>
                    <p>Copyright &copy; Crafted by <a href="https://dcrazed.com/">SoftNice</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>
