<!DOCTYPE html>
<html class="no-js" ng-app="rentapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rent a Car-Car Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS -->

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/style.css">

    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <style>
        /*.main-header {
            padding: 5px;
            background-color: #a09d93;
            border-bottom: 1px solid black;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            color: white;
            font-weight: 700;
            margin-bottom: 15px;
            letter-spacing: 2px;
            font-size: 20px;
            height: 40px;
        }*/
        .sub-header {
            padding: 5px 10px;
            background-color: #bab6ab;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 15px;
            height: 37px;
        }

        .header-title {
            display: inline-block;
        }

        .search {
            display: inline-block;
            float: right;
            /*background-color:#bab6ab;*/
        }

        .row-fluid {
            margin: 5px 0;
        }

        .custom-button {
            padding: 5px 25px;
            margin: 5px 5px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            background-color: #7c7a72;
            color: white;
            border: 2px solid #bab6ab;
            border-radius: 5px;
            letter-spacing: 1px;
        }

            .custom-button:hover {
                background-color: #e1dcd6;
                color: black;
            }
        /*.main-wrapper {
            border: 1px solid black;
            border-radius: 5px;
            margin: 50px 0;
        }*/
        .main {
            margin: 15px 0px;
        }

        .car-detail-fields-wrapper {
            border: 1px solid black;
            border-bottom: 5px solid grey;
            margin: 5px 0px;
            background-color: #e1dcd6;
        }

        .car-detail-fields {
            margin: 5px 0px;
        }

        .field-item {
            height: 26px;
        }

            .field-item select {
                width: 162px;
                height: 26px;
            }

        .car-table-wrapper {
            border: 1px solid black;
            border-bottom: 5px solid grey;
            width: 100%;
            display: inline-block;
            margin: 5px 0px;
        }

        .car-table {
            background-color: #e1dcd6;
            padding: 15px 10px;
            overflow-x: auto;

        }

        .table > thead > tr > th {
            border-bottom: 1px solid grey;
            width: auto;
            vertical-align: top;
            text-align: center;

        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }


        thead, tbody {
            border: 1px solid grey;
        }


        th, td {
            border: 1px solid grey;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .asterisc {
            color: red;
        }
    </style>
</head>

<body ng-controller="CarDetailsCtrl">
    <!-- Header Start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- header Nav Start -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img src="~/Content/mytemplate/img/logo.png" />
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Filters", "Landing")</li>
                                    <li>@Html.ActionLink("Book a Car", "Book")</li>
                                    <li>@Html.ActionLink("Logout", "Login")</li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- header close -->
<<<<<<< HEAD
    

    <section class="container">
        <div class="main-wrapper">
            <div class="main">
                <div class="car-detail-fields-wrapper">
                    <div class="car-detail-fields-header sub-header">
                        <strong>CAR DETAILS </strong>
                    </div>
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1default" data-toggle="tab">BASIC DETAILS</a></li>
                                <li><a href="#tab2default" data-toggle="tab">TECHNICAL DETAILS</a></li>

                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default">
                                    <div class="car-detail-fields container-fluid">



                    <div class="row row-fluid">
                                            <div class="col-sm-3 col-md-3">
                                                <label>Vendor Name<span class="asterisc">*</span> :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="text" placeholder="" />
                                                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span>ADD</a>
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                <label>Fuel Type :</label>
                                            </div>

                                            <div class="col-sm-3 col-md-3 field-item">
                                                <select>
                                                    <option>--SELECT--</option>
                                                    <option>YES</option>
                                                    <option>NO</option>
                                                </select>
                                            </div>


                                 
                    </div>



                    <div class="row row-fluid">
                                            <div class="col-sm-3 col-md-3">
                                                <label>Manufacturer Name :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="text" placeholder="" />
                                                <a href="#"><span class="glyphicon glyphicon-plus-sign"></span>ADD</a>
                                            </div>
                                         <div class="col-sm-3 col-md-3">
                                                <label>Transmission Type :</label>
                                            </div>

                                            <div class="col-sm-3 col-md-3 field-item">
                                                <select>
                                                    <option>--SELECT--</option>
                                                    <option>AUTOMETIC</option>
                                                    <option>SEMI-AUTOMATIC</option>
                                                </select>
                                            </div>

                                   
                                           
                     </div>
                     <div class="row row-fluid">
                                            <div class="col-sm-3 col-md-3">
                                                <label>Car Name<span class="asterisc">*</span> :</label>
                                            </div>

                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="text" placeholder="" />
                                            </div>
                              
                                            <div class="col-sm-3 col-md-3">
                                                <label>AC :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="col-sm-4 col-md-4" style="padding:0;">
                                                    <label class="col-sm-6 col-md-6" style="padding:0;">YES :</label><input type="radio" class="col-sm-6 col-md-6" name="airbag-radio" />
                                                </div>
                                                <div class="col-sm-4 col-md-4" style="padding:0;">
                                                    <label class="col-sm-6 col-md-6" style="padding:0;">NO :</label><input type="radio" class="col-sm-6 col-md-6" name="airbag-radio" />
                                                </div>
                                            </div>

                                         
                      </div>

                     
                      <div class="row row-fluid">
                                            <div class="col-sm-3 col-md-3">
                                                <label>Class<span class="asterisc">*</span> :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <select>
                                                    <option>--SELECT--</option>
                                                    <option>MINI</option>
                                                    <option>SEDAN</option>
                                                    <option>XUV</option>
                                                </select>
                                            </div>
                                         
                                            <div class="col-sm-3 col-md-3">
                                                <label>Passenger Capacity :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="Number" />
                                            </div>
                                          
                                         
                        </div>
                                        <div class="row row-fluid">
                                            <div class="col-sm-3 col-md-3">
                                                <label>Color<span class="asterisc">*</span> :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="text" placeholder="" />
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <label>Creation Date :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="date" placeholder="" />
                                            </div>
                                        </div>

                                            <div class="row row-fluid">
                                                @*<div class="col-sm-3 col-md-3">
                                                    <label>Color<span class="asterisc">*</span> :</label>
                                                </div>
                                                <div class="col-sm-3 col-md-3 field-item">
                                                    <input type="text" placeholder="" />
                                                </div>*@
                                                <div class="row-fluid pull-right">
                                                    <button class="custom-button">Save</button>
                                                    <button class="custom-button">Reset</button>
                                                </div>

                                            </div>
                                        </div>
                                    
                               </div>
                                <div class="tab-pane fade" id="tab2default">
                                    <div class="car-detail-fields container-fluid">
                           <div class="row row-fluid">
                                                     <div class="col-sm-3 col-md-3">
                                                <label>Launch Year<span class="asterisc">*</span> :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <select>
                                                    <option>--SELECT--</option>
                                                    <option>2015</option>
                                                    <option>2016</option>
                                                    <option>2017</option>
                                                </select>
                                            </div>
                                           <div class="col-sm-3 col-md-3">
                                                <label>Luggage Capacity :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="Number" />
                                            </div>
                                            @*<div class="col-sm-3 col-md-3">
                                                <label>Fuel Type :</label>
                                            </div>

                                            <div class="col-sm-3 col-md-3 field-item">
                                                <select>
                                                    <option>--SELECT--</option>
                                                    <option>YES</option>
                                                    <option>NO</option>
                                                </select>
                                            </div>*@
                                          
                             </div>

                             <div class="row row-fluid">
                                            <div class="col-sm-3 col-md-3">
                                                <label>Purchase Price :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="Number" />
                                            </div>
                                            @*<div class="col-sm-3 col-md-3">
                                                <label>Transmission Type :</label>
                                            </div>

                                            <div class="col-sm-3 col-md-3 field-item">
                                                <select>
                                                    <option>--SELECT--</option>
                                                    <option>AUTOMETIC</option>
                                                    <option>SEMI-AUTOMETIC</option>
                                                </select>
                                            </div>*@
                                            <div class="col-sm-3 col-md-3">
                                                <label>No. of Doors :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="Number" />
                                            </div>
                               </div>
                                        
                               <div class="row row-fluid">
                                            <div class="col-sm-3 col-md-3">
                                                <label>Car Registration Number <span class="asterisc">*</span> :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="text" placeholder="" />
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                <label>Airbags :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="col-sm-4 col-md-4" style="padding:0;">
                                                    <label class="col-sm-6 col-md-6" style="padding:0;">YES :</label><input type="radio" class="col-sm-6 col-md-6" name="airbag-radio" />
                                                </div>
                                                <div class="col-sm-4 col-md-4" style="padding:0;">
                                                    <label class="col-sm-6 col-md-6" style="padding:0;">NO :</label><input type="radio" class="col-sm-6 col-md-6" name="airbag-radio" />
                                                </div>
                                            </div>
                                            

                                 </div>
                                        
                                 <div class="row row-fluid">
                                            @*<div class="col-sm-3 col-md-3">
                                                <label>AC :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="col-sm-4 col-md-4" style="padding:0;">
                                                    <label class="col-sm-6 col-md-6" style="padding:0;">YES :</label><input type="radio" class="col-sm-6 col-md-6" name="airbag-radio" />
                                                </div>
                                                <div class="col-sm-4 col-md-4" style="padding:0;">
                                                    <label class="col-sm-6 col-md-6" style="padding:0;">NO :</label><input type="radio" class="col-sm-6 col-md-6" name="airbag-radio" />
                                                </div>
                                            </div>*@
                                            <div class="col-sm-3 col-md-3">
                                                <label>Engine Number<span class="asterisc">*</span> :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="text" placeholder="" />
                                            </div>
                                           <div class="col-sm-3 col-md-3">
                                                <label>STATUS<span class="asterisc">*</span> :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <select>
                                                    <option>--SELECT--</option>
                                                    <option>ACTIVE</option>
                                                    <option>INACTIVE</option>
                                                </select>
                                            </div>

                                         
                                  </div>
                                        
                                  <div class="row row-fluid">
                                       <div class="col-sm-3 col-md-3">
                                          <label>Chasis Number<span class="asterisc">*</span> :</label>
                                          </div>
                                          <div class="col-sm-3 col-md-3 field-item">
                                               <input type="text" placeholder="" />
                                          </div>
                                      
                                         <div class="col-sm-3 col-md-3">
                                                <label>Creation Date :</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3 field-item">
                                                <input type="date" placeholder="" />
                                            </div>
                                            <div class="row-fluid pull-right">
                                                <button class="custom-button">Save</button>
                                                <button class="custom-button">Reset</button>
                                            </div>
                                   </div>
                                    </div>




    <form name="cardetailsForm" ng-submit="cardetailsForm.$valid && add()" novalidate>
        <section class="container">
            <div class="main-wrapper">
                <div class="main">
                    <div class="car-detail-fields-wrapper">
                        <div class="car-detail-fields-header sub-header">
                            <strong>ADD CAR</strong>
                        </div>
                        <div class="car-detail-fields container-fluid">
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Vendor Name<span class="asterisc">*</span> :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder="" name="vend" ng-model="car.vendname"  required />
                                    <span ng-show="submitted == true && cardetailsForm.vend.$error.required" style="color:red">enter it</span>
                                    <a href="#"><span class="glyphicon glyphicon-plus-sign"></span>ADD</a>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label>Creation Date :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="date" placeholder="" name="creation" ng-model="car.CreationDate" required />
                                    <span ng-show="submitted == true && cardetailsForm.creation.$error.required" style="color:red">enter it</span>
                                </div>

                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Manufacturer Name :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select name="manu" ng-model="car.manufacturer" ng-options="man.ID as man.Name for man in ManufactureName" required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <span ng-show="submitted == true && cardetailsForm.manu.$error.required" style="color:red">Select it</span>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label>Class<span class="asterisc">*</span> :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select name="Carclass" ng-model="car.classs" ng-options="cs.ID as cs.Name for cs in Carclass" required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <span ng-show="submitted == true && cardetailsForm.Carclass.$error.required" style="color:red">Select it</span>
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Car Name<span class="asterisc">*</span> :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder="" name="carname" ng-model="car.CarName" required />
                                    <span ng-show="submitted == true && cardetailsForm.carname.$error.required" style="color:red">enter it</span>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label>Launch Year<span class="asterisc">*</span> :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select name="launchyear" ng-model="car.launch" ng-options="launch.ID as launch.Name for launch in LaunchYear" required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <span ng-show="submitted == true && cardetailsForm.launchyear.$error.required" style="color:red">Select it</span>
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Color<span class="asterisc">*</span> :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder="" name="color" ng-model="car.Carcolor" required />
                                    <span ng-show="submitted == true && cardetailsForm.color.$error.required" style="color:red">enter it</span>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label>Passanger Capacity :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="number" placeholder="" name="capacity" ng-model="car.carCapacity" required />
                                    <span ng-show="submitted == true && cardetailsForm.capacity.$error.required" style="color:red">enter it</span>
                                </div>

                            </div>

                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Fuel Type :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select name="FuelList" ng-model="car.sds" ng-options="fuel.ID as fuel.Name for fuel in FuelList" required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <span ng-show="submitted == true && cardetailsForm.FuelList.$error.required" style="color:red">Select it</span>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label>Transmission Type :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select name="Transmissiontype" ng-model="car.transmissiont" ng-options="t.ID as t.Name for t in Transmissiontype" required>
                                        <option value="">--Select--</option>

                                    </select>
                                    <span ng-show="submitted == true && cardetailsForm.transmissiont.$error.required" style="color:red">Select it</span>
                                </div>
                            </div>

                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Engine Number<span class="asterisc">*</span> :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="number" placeholder="" name="engine" ng-model="car.EngineNo" required />
                                    <span ng-show="submitted == true && cardetailsForm.engine.$error.required" style="color:red">enter it</span>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="col-sm-6 col-md-6" style="padding-left:0;">
                                        <div class="col-sm-4 col-md-4" style="padding:0;">
                                            <label>AC :</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4" style="padding:0;">
                                            <input type="radio" name="radio" value="1" ng-model="checkboxSelection" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6" style="">
                                        <div class="col-sm-4 col-md-4" style="padding:0;">
                                            <label>Quantity :</label>
                                        </div>
                                        <div class="col-sm-6 col-md-6 field-item" style="">
                                            <input type="number" style="width:70px;" ng-disabled="isCheckboxSelected('2')"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Chasis Number<span class="asterisc">*</span> :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="number" placeholder="" name="chasisno" ng-model="car.ChasisNo" required />
                                    <span ng-show="submitted == true && cardetailsForm.chasisno.$error.required" style="color:red">enter it</span>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="col-sm-6 col-md-6" style="padding-left:0;">
                                        <div class="col-sm-4 col-md-4" style="padding:0;">
                                            <label>NON-AC :</label>
                                        </div>
                                        <div class="col-sm-4 col-md-4" style="padding:0;">
                                            <input type="radio" name="radio" value="2" ng-model="checkboxSelection" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6" style="">
                                        <div class="col-sm-4 col-md-4" style="padding:0;">
                                            <label>Quantity :</label>
                                        </div>
                                        <div class="col-sm-6 col-md-6 field-item" style="">
                                            <input type="number" style="width:70px;" ng-disabled="isCheckboxSelected('1')" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Airbags :</label>
                                </div>
                                <div class="col-sm-3 col-md-3" name="airbags" required ng-value="1" ng-model="test">
                                    <div class="col-sm-4 col-md-4" style="padding:0;">
                                        <label class="col-sm-6 col-md-6" style="padding:0; ">YES :</label>
                                        <input type="radio" class="col-sm-6 col-md-6" name="airbag-radio" value="1" ng-model="checkboxSelection1" />
                                    </div>
                                    <div class="col-sm-4 col-md-4" style="padding:0;">
                                        <label class="col-sm-6 col-md-6" style="padding:0;">NO :</label>
                                        <input type="radio" class="col-sm-6 col-md-6" name="airbag-radio" value="2" ng-model="checkboxSelection1" />
                                    </div>
                                    
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label>Price :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="number" placeholder="" name="pric" ng-model="car.Price" required />
                                    <span ng-show="submitted == true && cardetailsForm.pric.$error.required" style="color:red">enter it</span>
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Depreciation Rate :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="number" placeholder="" name="depreciationrate" ng-model="car.Depreciationrate" required />
                                    <span ng-show="submitted == true && cardetailsForm.depreciationrate.$error.required" style="color:red">enter it</span>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label>Active<span class="asterisc">*</span> :</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select name="Active" ng-model="car.activeee" ng-change="changeOption()" ng-options="a.ID as a.Name for a in Active" required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <span ng-show="submitted == true && cardetailsForm.Active.$error.required" style="color:red">Select it</span>

                                </div>

                            </div>

                            <div class="row-fluid pull-right">
                                <input type="button" class="custom-button" value="Save" ng-click="submitted=true" />
                                <button class="custom-button" ng-click="Reset()">Reset</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="car-table-wrapper">
                <div class="car-table-header sub-header">
                    <div class="header-title">
                        <strong>CARS LIST</strong>
                    </div>
                    <div class="search">
                        <input type="search" value="" placeholder="Search By Name" />
                        <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                    </div>
                </div>
                <div class="car-table">
                    <table>
                        <tr>

                            <th>ACTION</th>
                            <th>VENDOR NAME</th>
                            <th>MANUFACTURE NAME</th>
                            <th>CAR NAME</th>
                            <th>CLASS</th>
                            <th>COLOR</th>
                            <th>CREATE DATE</th>
                            <th>FUEL TYPE</th>
                            <th>TRANSMISSION TYPE</th>
                            <th>AC/NON-AC</th>
                            <th>PASSANGER CAPACITY</th>
                            
                          
                            <th>LAUNCH YEAR</th>
                            <th>PURCHASE PRICE</th>
                            <th>CAR REGISTRATION NUMBER</th>
                            <th>ENGINE NUMBER</th>
                            <th>CHASIS NUMBER</th>
                            <th>LUGGAGE CAPACITY</th>
                            <th>No. of Doors</th>
                            <th>AIRBAGS</th>
                        
                            <th>STATUS</th>
                            <th>PASSANGER CAPACITY</th>
                           
                            
                         

                            <th></th>
                            <th>CAR NAME</th>
                            <th>CLASS</th>
                            <th>YEAR</th>
                            <th>BOOKING STATUS</th>
                            <th>START DATE</th>
                            <th>END DATE</th>
                            <th>PAYMENT STATUS</th>
                            <th>PICKUP</th>
							
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
            </div>
        </section>
    </form>
    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>We design delightful digital experiences.</h2>
                        <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-manu">

                    </div>
                    <p>Copyright &copy; Crafted by <a href="https://dcrazed.com/">SoftNice</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="~/AngularControllers/MasterCtrl.js"></script>
<script src="~/AngularControllers/CarDetailsCtrl.js"></script>
