<!DOCTYPE html>
<html class="no-js" ng-app="rentapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rent a Car-Vendor Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS -->

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/style.css">

    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <style>
        /*.main-header {
            padding: 5px;
            background-color: #a09d93;
            border-bottom: 1px solid black;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            color: white;
            font-weight: 700;
            margin-bottom: 15px;
            letter-spacing: 2px;
            font-size: 20px;
            height: 40px;
        }*/

        .required-field::after {
            content: "*";
            color: red;
        }
        .sub-header {
            padding: 5px 10px;
            background-color: #bab6ab;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 15px;
            height:37px;
        }
        .header-title {
            display: inline-block;
        }
        .search{
            display:inline-block;
            float:right;
            /*background-color:#bab6ab;*/
        }

        .row-fluid {
            margin: 5px 0;
        }

        .custom-button {
            padding: 5px 25px;
            margin: 5px 5px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            background-color: #7c7a72;
            color: white;
            border: 2px solid #bab6ab;
            border-radius: 5px;
            letter-spacing: 1px;
        }

        .custom-button:hover {
            background-color: #e1dcd6;
            color: black;
        }

        /*.main-wrapper {
            border: 1px solid black;
            border-radius: 5px;
            margin: 50px 0;
        }*/

        .main {
            margin: 15px 5px;
        }

        .vendor-detail-fields-wrapper {
            border: 1px solid black;
            border-bottom: 5px solid grey;
            margin: 5px 0px;
            background-color: #e1dcd6;
        }

        .vendor-detail-fields {
            margin: 5px 0px;
        }
        .field-item {
            height: 26px;
        }
        .field-item select {
            width: 162px;
            height: 26px;
        }

        .car-table-wrapper {
            border: 1px solid black;
            border-bottom: 5px solid grey;
            width: 100%;
            display: inline-block;
            margin: 5px 0px;
        }

        .car-table {
            background-color: #e1dcd6;
            padding: 15px 10px;
            overflow-x: auto;
            width:100%;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            border: 1px solid grey;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        .color {
            color: red;
        }
    </style>
</head>

<body ng-controller="VendorCtrl">
    <!-- Header Start -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- header Nav Start -->
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <img src="~/Content/mytemplate/img/logo.png" />
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Filters", "Landing")</li>
                                    <li>@Html.ActionLink("Book a Car", "Book")</li>
                                    <li>@Html.ActionLink("Logout", "Login")</li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- header close -->
    <form name="vendorsform">
        <section class="container">
            <div class="main-wrapper">
                <div class="main">
                    <div class="vendor-detail-fields-wrapper">
                        <div class="vendor-detail-fields-header sub-header">
                            <strong>VENDOR DETAIL</strong>
                        </div>
                        <div class="vendor-detail-fields container-fluid">
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label class=" required-field">Supplier Name</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder="" name="SupplierName" ng-model="VendorDetail.SupplierName"  required/>
                                    <span ng-show="submitted == true && vendorsform.SupplierName.$error.required" class="color">Please fill</span>
                                </div>

                                <div class="col-sm-3 col-md-3">
                                    <label class=" required-field">Contact Person</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder=""  name="ContactPerson" ng-model="VendorDetail.ContactPerson" required />
                                    <span ng-show="submitted == true && vendorsform.ContactPerson.$error.required"class="color">Please fill</span>
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label class=" required-field">Supplier Email</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder="" name="SupplierEmail" ng-model="VendorDetail.SupplierEmail" required  />
                                    <span ng-show="submitted == true && vendorsform.SupplierEmail.$error.required" class="color">Please fill</span>
                                </div>

                                <div class="col-sm-3 col-md-3">
                                    <label class=" required-field">Phone Number</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select ng-model="VendorDetail.CountrycodeList" ng-options="countrycodelist.ID as countrycodelist.Name for countrycodelist in CountrycodeList" name="CountryList" style="width:23%; color:green;" required>
                                        <option value=""  >+91</option>
                                    </select>
                                    <input type="text" placeholder="" name="PhoneNumber"  ng-model="VendorDetail.PhoneNumber" required style="width:42%; color:green;"  />
                                    <span ng-show="submitted == true && vendorsform.PhoneNumber.$error.required"  class="color">Please fill</span>
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label class=" required-field">Vendor Code</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder="" name="VendorCode"ng-model="VendorDetail.VendorCode" required  />
                                    <span ng-show="submitted == true && vendorsform.VendorCode.$error.required" class="color">Please fill</span>
                                </div>

                                <div class="col-sm-3 col-md-3">
                                    <label>Alternate Number</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder="" name="AlternateNumber" ng-model="VendorDetail.AlternateNumber"  />
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>Country</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select  ng-model="VendorDetail.Country" ng-options="countrylist.ID as countrylist.Name for countrylist in CountryList" name="CountryList" required >
                                        <option value="">--SELECT--</option>
                                 
                                    </select>
                                    <span ng-show="submitted == true && vendorsform.CountryList.$error.required" class="color">Please fill</span>
                                </div>

                                <div class="col-sm-3 col-md-3">
                                    <label class=" required-field">Address Line 1</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <textarea rows="1" cols="20" name="Address" ng-model="VendorDetail.AddressLine1" required ></textarea>
                                    <span ng-show="submitted == true && vendorsform.Address.$error"class="color">Please fill</span>
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>State</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select  ng-model="VendorDetail.State" ng-options="statelist.ID as statelist.Name for statelist in StateList" name="StateList" required >
                                        <option value="">--SELECT--</option>
                                       
                                    </select>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <label>Address Line 2</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <textarea rows="1" cols="20" name="AddressLine2"  ng-model="VendorDetail.AddressLine2"></textarea>
                                    
                                </div>
                            </div>
                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label>ZIP Code</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="text" placeholder="" name="ZIPCode"  ng-model="VendorDetail.ZIPCode" />
                                </div>

                                <div class="col-sm-3 col-md-3">
                                    <label class=" required-field">Date Added</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <input type="date"  name="Date" ng-model="VendorDetail.DateAdded"  required>
                                    <span ng-show="submitted == true && vendorsform.Date.$error.required" class="color">Please fill</span>
                                </div>
                            </div>

                            <div class="row row-fluid">
                                <div class="col-sm-3 col-md-3">
                                    <label class=" required-field">Status</label>
                                </div>
                                <div class="col-sm-3 col-md-3 field-item">
                                    <select  ng-model="VendorDetail.Status" ng-options="statuslist.ID as statuslist.Name for statuslist in StatusList" name="StatusList" required >
                                        <option value="" >--SELECT--</option>
                                    </select>
                                    <span ng-show="submitted == true && vendorsform.StatusList.$error.required"  class="color">Please fill</span>
                                </div>

                            </div>
                            <div class="row-fluid pull-right">
                                <input type="submit" class="custom-button" value="Next" ng-click="submitted=true" />
                                <input type="button" class="custom-button" value="Reset" ng-click="Reset() "/>
                            </div>
                        </div>
                   

                        </div>

                    <div class="car-table-wrapper">
                        <div class="car-table-header sub-header">
                            <div class="header-title">
                                <strong>VENDOR LIST</strong>
                            </div>
                            <div class="search">
                                <input type="search" value="" placeholder="Search" />
                                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                            </div>
                        </div>
                        <div class="car-table">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>SUPPLIER NAME</th>
                                    <th>SUPPLIER EMAIL</th>
                                    <th>VENDOR CODE</th>
                                    <th>CONTACT PERSON</th>
                                    <th>DATE ADDED</th>
                                    <th>STATUS</th>
                                    <th>NUMBER OF CARS</th>
                                    <th>PHONE NUMBER</th>

                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>
    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>We design delightful digital experiences.</h2>
                        <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-manu">

                    </div>
                    <p>Copyright &copy; Crafted by <a href="https://dcrazed.com/">SoftNice</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="~/AngularControllers/MasterCtrl.js"></script>
<script src="~/AngularControllers/VendorCtrl.js"></script>